<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MIIO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MIIO.styles.css" asp-append-version="true" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css" />
</head>
<body>
    <header>
        <!-- BAR --> 
        <div class="top-bar">
            <a asp-page="/Login">
                <li class="nav-item">
                    <!--<a class="icon fa-solid fa-user" id="login" asp-area="Identity" asp-page="/Account/Login"> Login</a>-->
                    <partial name="_LoginPartial" />
                </li>
            </a>
        </div>

        <!-- MIIO LOGO -->
        <div class="logo-container">
            <a asp-page="/Index">
                <a asp-page="/Index">
                    <img src="~/images/products/LogoMIIO.jpeg" alt="logo" class="logo-img" />
                </a>
            </a>
        </div>

        <!-- Search Bar + Shopping cart-->
        <div class="search-cart-container">
            <div class="search-box">
                <span class="search-icon fa fa-search" aria-hidden="true"></span>
                <input type="text" placeholder="Buscar joyas..." class="search-input">
            </div>
            <a asp-page="/Carrito" class="cart-button">
                <span class="fa-solid fa-cart-shopping" style="margin-right: 5px;"></span>
                Carrito
            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MIIO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" ... /> 
    <script src="//cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
