<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MIIO</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MIIO.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <style>
        /* 1. HTML debe ocupar el 100% de la altura y ser el punto de referencia */
        html {
            position: relative;
            min-height: 100%;
        }

        /* 2. BODY debe dejar un margen inferior equivalente a la altura del footer */
        body {
            margin-bottom: 60px;
        }

        /* 3. Definir la posición del footer */
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
        }
    </style>
</head>
<body>

    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            toastr["success"]('@TempData["success"]')
        </script>
    }

    @if (TempData["error"] != null)
    {
        <script type="text/javascript">
            toastr["error"]('@TempData["error"]')
        </script>
    }

    <header>
        <div class="top-bar">
            <a asp-page="/Login">
                <li class="nav-item">
                    <partial name="_LoginPartial" />
                </li>
            </a>
        </div>

        <div class="logo-container">
            <a asp-page="/Index">
                <a asp-page="/Index">
                    <img src="~/images/products/LogoMIIO.jpeg" alt="logo" class="logo-img" />
                </a>
            </a>
        </div>

        <div class="search-cart-container">
            <form method="get" asp-area="Products" asp-controller="Search" asp-action="Results" class="search-box">
                <span class="search-icon fa fa-search" aria-hidden="true"></span>
                <input type="text" name="query" placeholder="Buscar joyas..." class="search-input" />
            </form>

            <a asp-area="Orders" asp-controller="Cart" asp-action="Index" class="cart-button">
                <span class="fa-solid fa-cart-shopping" style="margin-right: 5px;"></span>
                Carrito
            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MIIO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="//cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>