@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Featured Image -->
<div class="hero-section">
    <h3>IMAGEN</h3>
    <p>Espacio destinado para una imagen que cuente la historia de Miio, resaltando la elegancia y calidad de nuestras piezas de plata</p>
</div>

<!-- Featured Products -->
<div class="product-gallery-container">
    <h2>Nuestros Productos Destacados</h2>
  
    </div>
</div>
